{% extends 'base.html' %}

{% block main_page_area %}
<h3 class="page-header">Inventory Items List</h3>
<table id="myTable" class="table table-striped table-bordered table-responsive">

    <thead>
        <tr>
            <th>SKU</th>
            <th>Name</th>
            <th>Quantity</th>
        </tr>
    </thead>

    {% for product in product_list %}
        <tr>
            <td>{{ product.code|default_if_none:"--" }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.quantity }}</td>
        </tr>
    {% endfor %}

</table>
{% endblock main_page_area %}