Quick Links
<ul class="list-group">
    <li class="list-group-item mt-2">
        <a href="/"><i class="fas fa-shopping-cart mr-2"></i>Shop</a>
    </li>

    <li class="list-group-item mt-3">
        <a href="{% url 'inventory:product-list' %}"><i class="fas fa-cheese mr-2"></i>Product</a>
        <ul class="list-unstyled pl-4">
            <li><a href="{% url 'inventory:product-list' %}"><i class="fas fa-list mr-2"></i>List</a></lilist-inline-item">
            <li><a href="{% url 'inventory:product-add' %}"><i class="fas fa-plus mr-2"></i>New</a></li>
        </ul>
    </li>

    <li class="list-group-item mt-3">
        <a href="{% url 'inventory:inventory-list' %}"><i class="fas fa-warehouse mr-2"></i>Inventory</a>
        <ul class="list-unstyled pl-4">
            <li><a href="/"><i class="fas fa-truck-moving mr-2"></i>Receive</a></li>
            <li><a href="{% url 'inventory:inventory-list' %}"><i class="fas fa-coins mr-2"></i>Values</a></li>
            <li><a href="/"><i class="fas fa-exchange-alt mr-2"></i>Transactions</a></li>
        </ul>
    </li>

    <li class="list-group-item mt-3">
        <a href="{% url 'inventory:partner-list' %}"><i class="fas fa-handshake mr-2"></i>Partners</a>
        <ul class="list-unstyled pl-4">
            <li><a href="{% url 'inventory:partner-list' %}"><i class="fas fa-list mr-2"></i>List</a></li>
            <li><a href="{% url 'inventory:partner-add' %}"><i class="fas fa-plus mr-2"></i>New</a></li>
        </ul>
    </li>

    <li class="list-group-item mt-3">
        <a href="{% url 'users:user-list' %}"><i class="fas fa-users mr-2"></i>Users</a>
        <ul class="list-unstyled pl-4">
            <li><a href="{% url 'users:user-list' %}"><i class="fas fa-list mr-2"></i>List</a></li>
            <li><a href="/"><i class="fas fa-plus mr-2"></i>New</a></li>
        </ul>
    </li>
</ul>