Links<hr>
<ul class="list-unstyled">
    <li class="mt-2">
        <a href="/"><i class="fas fa-home"></i>Start Selling</a>
    </li><hr>

    <li class="mt-3">
        <a href="{% url 'inventory:product-list' %}"><i class="fas fa-home"></i>Product</a>
        <ul class="list-styled">
            <li><a href="{% url 'inventory:product-list' %}">List</a></li>
            <li><a href="/">Add New</a></li>
        </ul>
    </li><hr>

    <li class="mt-3">
        <a href="{% url 'inventory:inventory-list' %}"><i class="fas fa-home"></i>Inventory</a>
        <ul class="list-styled">
            <li><a href="/">Receive Products</a></li>
            <li><a href="{% url 'inventory:inventory-list' %}">Current Values</a></li>
            <li><a href="/">Transactions</a></li>
        </ul>
    </li><hr>

    <li class="mt-3">
        <a href="{% url 'inventory:partner-list' %}"><i class="fas fa-home"></i>Partners</a>
        <ul class="list-styled">
            <li><a href="{% url 'inventory:partner-list' %}">List</a></li>
            <li><a href="/">Add New</a></li>
        </ul>
    </li><hr>

    <li class="mt-3">
        <a href="{% url 'users:user-list' %}"><i class="fas fa-home"></i>Employees</a>
        <ul>
            <li><a href="{% url 'users:user-list' %}">List</a></li>
            <li><a href="/">Add New</a></li>
        </ul>
    </li>
</ul>